$color-primary: #3cd3f2;
$color-primary-light: #36a9e1;
$color-primary-dark: #5735e0;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-terciary-light: #7ed56f;
$color-terciary-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;



//FONT
$default-font-size: 1.6rem;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



$color-white: #fff;
$color-black: #000;

$border-radius-small: 3px;

//GIRD
$grid-width: 114rem;
$grid-gap: 6rem;
$grid-limit: 8rem;
$grid-minmax: minmax(20rem, 1fr); 
