.sidebar-section img {
	width: 100%;
	margin-bottom: 2em;
	margin-top: 25px;
}

.news-row{
	margin-bottom: 10px;
}

.main-section{
	margin-top: 12px;
}

.news-header-image{
	margin-top: -2em;
	margin-bottom: 2em;
	width: 100%;
	
}